<div class="ui column {{tags}}">
    <div class="ui fluid card">
    {{#if proyectoBlog}}
      <div class="ui blurring dimmable image ebit-blog">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a class="ui inverted button" href="{{proyectoBlog}}" target="_blank" title="{{t 'epcLeerMasEnElBlog'}}">{{t "epcLeerMasEnElBlog"}}</a>
            </div>
          </div>
        </div>
        {{yield}}
      </div>
    {{else if nota}}
      <div class="ui blurring dimmable image ebit-blog">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a class="ui inverted button" href="{{nota}}" target="_blank" title="{{t 'epcVerNota'}}">{{t 'epcVerNota'}}</a>
            </div>
          </div>
        </div>
        {{yield}}
      </div>
    {{else}}
      <div class="ui image">
        {{yield}}
      </div>
    {{/if}}
    <div class="content">
      <h3 class="ui red header mb0">
        {{#if url}}
          <a href="{{url}}" target="_blank" title="{{producto}}">{{producto}}</a>
        {{else}}
          {{producto}}
        {{/if}}
      </h3>
      <div class="portfolio-cliente">
        <span class="">Cliente: </span>
        {{#if client_url}}
          <a href="{{client_url}}" target="_blank" title="{{cliente}}" class="link-gris">{{cliente}}</a>
        {{else}}
          {{cliente}}
        {{/if}}
      </div>
      {{#if nota}}
        <div class="meta mb1">
          <a href="{{nota}}" href="{{nota}}" target="_blank" title="{{t 'epcVerNota'}}"><small>{{t 'epcVerMas'}}</small></a>
        </div>
      {{else}}
        <div class="nota_placeholder">
        </div>
      {{/if}}

      <div class="meta">
        <span class="ebit-portfolio-descripcion">{{descripcion}}</span>
      </div>
    </div>
    <div class="right aligned extra content">
      {{#each tecIcons as |t|}}
        <a href="{{t.url}}" target="_blank" title="{{t.name}}">
          <img src="/icons/ebit_tec-icon_{{t.slug}}.png" height="{{if (media "isMobile") "20" "30"}}" alt="{{t.name}}" title="{{t.name}}"/>
        </a>
      {{/each}}
    </div>
  </div>
</div>
