<div class="ui column {{tags}}">
    <div class="ui fluid card">
    {{#if proyectoBlog}}
      <div class="ui blurring dimmable image ebit-blog">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a class="ui inverted button" href="{{proyectoBlog}}" target="_blank" title="Leer mas sobre {{producto}} en nuestro blog.">Leer más en el Blog</a>
            </div>
          </div>
        </div>
        {{yield}}
      </div>
    {{else}}
      <div class="ui image">
        {{yield}}
      </div>
    {{/if}}
    <div class="content">
      <h4 class="ui red header">
        {{#if url}}
          <a href="{{url}}" target="_blank" title="{{producto}}">{{producto}}</a>
        {{else}}
          {{producto}}
        {{/if}}
        <div class="ui sub header">
          {{#if client_url}}
            <a href="{{client_url}}" target="_blank" title="{{cliente}}" class="link-gris">{{cliente}}</a>
          {{else}}
            {{cliente}}
          {{/if}}
        </div>
      </h4>
      <div class="meta">
        <span class="ebit-portfolio-descripcion">{{descripcion}}</span>
      </div>
    </div>
    <div class="right aligned extra content">
      {{#each tecIcons as |t|}}
        <img src="/icons/ebit_tec-icon_{{t.slug}}.png" height="{{if (media "isMobile") "20" "30"}}" alt="{{t.name}}" title="{{t.name}}"/>
      {{/each}}
    </div>
  </div>
</div>
