{{#if media.isMobile}}
  <div class="ebit-logo-mobile"></div>
  <div class="ui sidebar inverted vertical menu">
    {{ebit-secciones-del-menu}}
  </div>
  <a class="launch icon item ebit-mobile-menu" {{action 'toggle' 'sub-sidebar'}}>
    <i class="content icon"></i>
  </a>

{{else}}
<div class="ui fixed menu navbar ebit-navbar">
  {{ebit-secciones-del-menu}}
  <div class="ui right menu">
    {{ebit-redes}}
  </div>
</div>
{{/if}}
{{#if media.isDesktop}}
  <div class="ebit-margin-top"></div>
{{/if}}
