<div class="ui column {{tags}}">
  <div class="ui fluid card">
    <div class="ui image">
      {{yield}}
    </div>
    <div class="content">
      <a class="header">{{producto}}</a>
      <div class="meta">
        <span class="date">{{cliente}}</span>
      </div>
      <div class="meta">
        <span class="date">{{descripcion}}</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="code icon"></i>
        {{tecnologias}}
      </a>
    </div>
  </div>
</div>
