<div class="ui column {{tags}}">
    <div class="ui fluid card">
    {{#if proyectoBlog}}
      <div class="ui blurring dimmable image ebit-blog">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Ver proyecto</div>
            </div>
          </div>
        </div>
        {{yield}}
      </div>
    {{else}}
      <div class="ui image">
        {{yield}}
      </div>
    {{/if}}
    <div class="content">
      <h4 class="ui red header">
        {{#if url}}
          <a href="{{url}}" target="_blank" title="{{producto}}">{{producto}}</a>
        {{else}}
          {{producto}}
        {{/if}}
        <div class="ui sub header">{{cliente}}</div>
      </h4>
      <div class="meta">
        <span class="ebit-portfolio-descripcion">{{descripcion}}</span>
      </div>
    </div>
    <div class="right aligned extra content">
      {{#each tecIcons as |t|}}
        <img src="/icons/ebit_tec-icon_{{t}}.png" height=30 alt="{{t}}" title="{{t}}"/>
      {{/each}}
    </div>
  </div>
</div>
