{{yield}}
<a class="ui item" {{action 'idiomaEs'}} title="Español"><i class="ui ar flag"></i></a>
<a class="ui item" {{action 'idiomaEn'}} title="English"><i class="ui gb uk flag"></i></a>
<a class="ui item" target="_blank" href="https://instagram.com/EnjambreBit" title="{{t "redesInstagram"}}"><i class="ui instagram icon"></i></a>
<a class="ui item" target="_blank" href="https://facebook.com/EnjambreBit" title="{{t "redesFacebook"}}"><i class="ui facebook icon"></i></a>
<a class="ui item" target="_blank" href="https://www.linkedin.com/company/enjambre-bit-srl" title="{{t "redesLinkedin"}}"><i class="ui linkedin icon"></i></a>
<a class="ui item" target="_blank" href="https://github.com/EnjambreBit" title="{{t "redesGitHub"}}"><i class="ui github icon"></i></a>
<a class="ui item" target="_blank" href="https://www.youtube.com/channel/UC0qxtMgKiGmKNqLeMOxzt8Q" title="{{t "redesYouTube"}}"><i class="ui youtube icon"></i></a>
<a class="ui item" target="_blank" href="mailto:contacto@enjambrebit.com.ar" title="{{t "redesContactUs"}}"><i class="ui mail icon"></i></a>
