<div class="{{if (media 'isDesktop') 'grid-item' 'grid-item-mobile'}} thumb {{type}}">
  <a href="#" class="view" title="{{title}}">
    <div class="overlay">
  		<div class="info">
  			<h4>{{title}}</h4>
  			<br>
  			<span>{{description}}</span>
  		</div>
  		<!-- /.info -->
  	</div>
  	<!-- /.overlay -->
    {{yield}}
    <span class="portfolio-thumb-title">{{title}}</span>

  </a>
</div>
