<div class="ui vertical center aligned stripe segment">
  <div class="ui fluid grid">
    <div class="column">
      {{ebit-logo-skills}}
      {{!-- {{#swiper-container pagination=false grabCursor=true navigation=false autoplay=true loop=true}}
        {{#swiper-slide}}
          {{ebit-logo-skills}}
        {{/swiper-slide}}
        {{#swiper-slide}}
          Coso
        {{/swiper-slide}}
      {{/swiper-container}} --}}
    </div>
  </div>
      {{#if (media 'isMobile')}}
      <div class="ebit-mobile-redes-home">
        <a class="ui item" target="_blank" href="https://facebook.com/EnjambreBit" title="{{t "redesFacebook"}}"><i class="ui facebook icon"></i></a>
        <a class="ui item" target="_blank" href="https://twitter.com/EnjambreBit" title="{{t "redesTwitter"}}r"><i class="ui twitter icon"></i></a>
        <a class="ui item" target="_blank" href="https://instagram.com/EnjambreBit" title="{{t "redesInstagram"}}"><i class="ui instagram icon"></i></a>
        <a class="ui item" target="_blank" href="https://github.com/EnjambreBit" title="{{t "redesGitHub"}}"><i class="ui github icon"></i></a>
        <a class="ui item" target="_blank" href="https://www.youtube.com/channel/UC0qxtMgKiGmKNqLeMOxzt8Q" title="{{t "redesYouTube"}}"><i class="ui youtube icon"></i></a>
      </div>
      {{/if}}
</div>
{{outlet}}
