
<div class="ui vertical center aligned stripe segment">
    <div class="ui container">
      {{#if (media 'isMobile')}}
        <div class="ui secondary pointing fluid menu">
          <h1 class="ui big header">
            <div class="content">
              Pilas 2
            </div>
          </h1>
        </div>
      {{else}}
        <h1 class="ui big header">
          <img class="ui middle aligned image" src="/assets/pilas/pilas-logo.png">
          <div class="content">
            Pilas Engine 2
          </div>
        </h1>
      {{/if}}
      <div class="ui segments pilas-segment">
        <div class="ui  basic padded segment">
          <p>
            {{t "pep1"}}
          </p>
          <div class="ui list">
            <a class="item" href="https://app.pilas-engine.com.ar/" target="_blank">https://app.pilas-engine.com.ar/</a>
            <a class="item" href="https://github.com/pilas-engine/pilas-engine/" target="_blank">https://github.com/pilas-engine/pilas-engine/</a>
          </div>
          <p>
            {{t "pep2"}}
          </p>
        </div>

        <div class="ui  basic padded segment">
          <p>
            {{t "pep3"}}
          </p>
          <div class="ui image">
            <img src="/assets/pilas/pilas2_main-menu.png" alt="">
          </div>
        </div>

        <div class="ui  basic padded segment">
          <p>
            {{t "pep4"}}
          </p>
          <br>
          <div class="ui spaced image">
            <img src="/assets/pilas/pilas2_editor.gif" alt="">
          </div>
        </div>

        <div class="ui  basic padded segment">
          <p>
            {{t "pep5"}}
          </p>
          <br>
          <div class="ui spaced image">
            <img src="/assets/pilas/pilas2_editor-play.gif" alt="">
          </div>
        </div>

        <div class="ui  basic padded segment">
          <p>
            {{t "pep6"}}
          </p>
          <br>
          <div class="ui spaced image">
            <img src="/assets/pilas/pilas2_editor-pause.gif" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
