<div class="ui vertical center aligned stripe segment">
  {{#if (media 'isDesktop')}}
    <div class="ebit-section-bg portfolio"></div>
  {{/if}}
  <div class="ui container">
    <div class="ui secondary pointing fluid menu">
      <h1 class="ui huge header">
        ¿Qué hacemos?
      </h1>
    </div>
    <div class="ui left aligned basic segment">
      <div class="ui four cards">
        {{ebit-tarjeta-skills icono="web" titulo="Desarrollo Web" skills="Ember JS, Django, Semantic UI"}}
        {{ebit-tarjeta-skills icono="web" titulo="Software a medida" skills="Ember JS, Django, Semantic UI"}}
        {{ebit-tarjeta-skills icono="web" titulo="UI/UX" skills="Ember JS, Django, Semantic UI"}}
        {{ebit-tarjeta-skills icono="3d" titulo="3D / Animación" skills="Blender"}}
      </div>
    </div>
    {{outlet}}
  </div>
</div>
